<header>
  <h1>Daniel Filan</h1>
  <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/11659278_10202944584654914_2762452412152680044_n.jpg?oh=f017f593bd04d84d5de68bb00a736ddf&oe=58486651"/>
  <ul>
    <li><a href="/pdfs/cv.pdf">CV</a></li>
    <li><a href="mailto:df@danielfilan.com">email</a></li>
    <li><a href="/daniel_filan_public_key.asc">PGP public key</li>
    <li><a href="https://github.com/dfilan">github</a></li>
  </ul>
</header>

      <!-- <span>Daniel!</span>
<hr/>
<a class="arrow" href="/"><strong>Daniel</strong></a>
  <ul>
    {% for post in site.posts limit:8 %}
      <li>
        <a class="arrow" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
 -->
